@import url("./assets/fonts/satoshi/css/satoshi.css");
@import "tailwindcss";

@theme inline {
  --color-bg: hsl(0, 0%, 5%);
  --color-text: hsl(0, 100%, 100%);
  --color-text-gray: hsl(0, 0%, 80%);
  --color-main-ll: hsl(252, 62%, 63%);
  --color-main-l: hsl(252, 62%, 55%);
  --color-main: hsl(252, 62%, 48%);
  --color-main-d: hsl(252, 62%, 38%);
  --color-main-dd: hsl(252, 62%, 28%);
}

body {
  background: var(--color-bg);
  color: var(--color-text);
  font-family: Satoshi-Regular;
  font-size: 1rem;
  display: flex;
  min-height: 100dvh;
  flex-direction: column;
  align-items: center;
}
