@import url('./assets/fonts/satoshi/css/satoshi.css');
@import url('./assets/fonts/generalsans/css/general-sans.css');
@import "tailwindcss";

@theme {
  --color-text: hsla(297, 60%, 93%, 1.00);
  --color-bg: hsla(300, 9%, 4%, 1.00);
  --color-primary: hsla(279, 85%, 74%, 1.00);
  --color-secondary: hsla(274, 70%, 31%, 1.00);
  --color-accent: hsla(145, 59%, 60%, 1.00);

  --font-title: "Satoshi-Black", sans-serif; 
  --font-satoshi: "Satoshi-Variable", sans-serif;
}

@layer utilities {
  .filter-primary {
    @apply filter
      invert-[57%]
      sepia-[18%]
      saturate-[1544%]
      hue-rotate-[228deg]
      brightness-[107%]
      contrast-[91%];
  }
}

body {
  color: var(--color-text);
  background-color: var(--color-bg);
  margin: 0;
  padding: 0;
  font-family: 'GeneralSans-Regular', sans-serif;
}